body{
    height:570px;
    background-size: 100% 100%;
    border:1px solid black;
    /* background-image: url("https://ak.picdn.net/shutterstock/videos/1047072139/thumb/1.jpg");  */
}
#head{
    width:100%;
    height:20%;
    color:black;
    margin-top: 2px;
    top:0px;
    font-size: 20px;
}
#container{
    display: flex;
    margin-top:1%;
    width:50%;
    height:75%;
    overflow:hidden;
    background: rgba(255, 255, 255, 0.438); 
    backdrop-filter: blur(15px); 
    border: 1px solid red;
}
#box1{
    width:100%;
    height:100%;
    border:1px solid black;
    /* background-color: pink; */
}
#box2{
    width:50%;
    height:100%;
    border:1px solid black;
}
input{
    width:30%;
    height:25px;
    border:2px solid black;
    border-radius:5px;
}
input:hover{
    border:1px solid rgb(43, 25, 43);
    box-shadow: 0 0 20px rgb(255, 35, 71);
}
button{
    height:30px;
    border-radius:5px ;
    border:1px solid black;
    background-color: rgb(255, 35, 71);
    color:white;
}
#cityname{
    height:40px;
    /* text-align: center; */
    font-size: 25px;
    border:1px solid black;
}
#temp{
    height:40px;
    /* text-align: center; */
    font-size: 22px;
    border:1px solid black;
    
}
#all{
    width:80%;
    margin:auto;
    margin-top: 5%;
    height:40px;
    text-align: center;
    /* display: flex; */
    justify-content: space-between;
    font-size: 22px;
    border:1px solid black;
}
.mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height:100%;
    border:1px solid black;
}
.gmap_canvas {
    overflow:hidden;
    width:100%;
    height:100%;
    border:1px solid black;
}
.gmap_iframe {
    width:600px!important;
    height:400px!important;
    border:1px solid black;
}
#fivedays{
    width:100%;
    height:160px;
    margin-top: 5%;
    display: flex;
    border:1px solid black;
}

        